{
    "Token": "your-bot-token",
    "ChatId": "chat-id",
    "FromChatId": "from-chat-id",
    "ForwardMessageId": forward-message-id,
    "PhotoId": "photo-file_id",
    "HttpClientTimeout": timeout-seconds
}